body {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(19, 18, 26, 0.719)),
    url("./assets/tajhotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ecf9ff;
  text-align: center;
  font-size: 18px;
  padding: 0 3% 3% 3%;
}
a {
  color: #ecf9ff;
}
table,
th,
td {
  border: 1px solid #ecf9ff;
  border-collapse: collapse;
}
footer {
  margin-top: 15px;
}
table {
  width: 100%;
}

.positions {
  position: absolute;
  right: 10px;
  bottom: 80px;
}
.positions > button {
  height: 40px;
  width: 80px;
}

.flexdemo {
  display: flex;
  justify-content: space-evenly;
}
.flexdemo > div {
  width: 100%;
  height: 100px;
  margin: 0 5px;
  background: #f99417;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formclass {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.formclass > div {
  margin: 8px 0;
}

.formclass .radioinputs {
  display: flex;
  margin: 5px 0px;
}
